
@media (max-width:500px) {
  .headerMenu {
    display: none;
  }
}
@media(min-width:500px) {
  .menuIcon {
    display: none;
  }
}

/* #navbarSticky{
  background: #523dce;
  display: block;
  position: 'sticky'; 
  top: 0; 
  z-index: 1;
  width: '100%';
} ยังไม่ต้องใช้ก่อน*/

#navbarNewOrder {
  background: #efeff5;
  display: block;
}

#buttonCopy {
  color: #523dce;
  background: #ffffff;
}

#buttonPurple {
  background: #ffffff;
  font-size: medium;
  text-align: center;
  color: #523dce;
  padding-left: 50%;
  padding-right: 50%;
  margin-left: 50%;
}

#buttonBill {
  background: #523dce;
  font-size: medium;
  color: #eaeaea;
  text-align: center;
}

#buttonBack {
  background: #ffffff;
  display: block;
  font-size: medium;
  color: #000000;
  margin-bottom: 2%;
  text-align: center;
}

#buttonInsertCart {
  background: #ffffff;
  display: block;
  font-size: medium;
  color: #523dce;
  padding: 0% 21% 0% 22%;
  margin: 3%;
  text-align: center;
}

#boldCharacter {
  font-weight: bold;
}

#sizeCharacter {
  font-size: large;
}

#buttonCart {
  text-align: center;
  font-size: large;
  background: #ffffff;
  color: #000000;
  padding-right: 40%;
  padding-left: 20%;
}

#buttonLink {
  padding: 1% 0% 0% 1%;
}

#buttonOrder {
  text-Align: 'center';
  background: #523dce;
  font-size: medium;
  color: #eaeaea;
  
}

#floatLeft{
 float: left;
}

#floatLeftOne{
  float: left;
  margin: 3% 3% 3% 3%;
 }

#floatRightOne{
  float: right;
  padding: 0% 0% 0% 3%;
}

#discountRed {
  font-size: medium;
  color: #ff99b1;
}

#discountGreen {
  font-size: medium;
  color: #5ab337;
}

#deliveryPurple {
  font-size: medium;
  color: #523dce;
}

#searchBar {
  color: #9ba2af;
  padding-left: 3%;
}

#characterTextOne {
  font-size: small;
  color: #9ba2af;
}

#characterTextTwo {
  font-size: large;
  color: #523dce;
}

#characterTextThree {
  font-size: large;
  color: #000000;
}

#characterMargin {
  margin-left: 20% ;
  margin-right: 20% ;
}


.customSelectOne {
  font-size: large;
  color: #9ba2af;
  width: 250%;
}

.customSelectTwo {
  font-size: medium;
  color: #9ba2af;
  padding-left: 120%;
  padding-right: 120%;
}

.customSelectThree {
  font-size: medium;
  color: #000000;
  padding-left: 42%;
  padding-right: 42%;
}

.customSelectFour {
  font-size: medium;
  color: #000000;
  padding-left: 42%;
  padding-right: 42%;
}

#marginTabs {
 margin-left: 10% ;
}

#marginCard {
  margin-right: 10% ;
 }

#footerFixed {
  position: sticky;
  bottom: 0;
}
#footerPayment {
  position: sticky;
  bottom: 0;
  background-color: #dedafa;
}

#logoHeader {
  float: left;
  max-width: 100%;
  max-height: 100%;
}

.container {
  padding: 0 2rem;
}

#navbar {
  background: #523dce;
}

#navbarBackground {
  background: #ffffff;
  width: 100%;
  height: 50px;
}

#setting {
  color: #fafafa;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }


  .left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%;
    /* The width is 20%, by default */
  }



  .right {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 20%;
    /* The width is 20%, by default */
  }

  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }

  /* Use a media query to add a break point at 800px: */
  @media only screen and (max-width: 620px) {

    .left,
    .main,
    .right {
      width: 100%;

    }

  
  }

}